.typographyBody 
 {
  
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyH2 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  letter-spacing:  
  -0.03em;
  text-indent: 0px;
  
}    

.typographyH1 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 150%;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyOverline 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0.36em;
  text-indent: 0px;
  
}    

.typographyBodySmall 
 {
  
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

